<h1>Create</h1>

<p>Enter your questions in the space below. Add more questions using the + button at the bottom of the screen.</p>

{{!-- Buttons for spoken/written quiz modes and an information tooltip for the user to know what the difference between the two modes are. --}}

<form class="" method="GET" action="">
    <input type="text" class="question" placeholder="Enter question">

    <input type="reset" value="Cancel">
    <button id="add-question">+</button>
    <input type="submit" value="Next">
</form>