<h1>Buzz</h1>

<form class="" method="GET" action="/join">
    <input type="submit" value="Join Quiz">
</form>

<form class="" method="GET" action="/create">
    <input type="submit" value="Create Quiz">
</form>